<!doctype html>
<html lang="{{ site.Language.Locale }}" data-index-url="{{ "index.json" | absURL }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to content</a>
    {{ partial "header.html" . }}
    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ with resources.Get "js/webmcp.js" }}
      {{ $script := . | minify | fingerprint }}
      <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
    {{ end }}
  </body>
</html>
