{{- $description := .Description | default .Summary | default site.Params.description -}}
{{- $title := cond .IsHome site.Title (printf "%s · %s" .Title site.Title) -}}
{{- $profileImage := "images/profile-mark.png" | absURL -}}
{{- $socialImagePath := site.Params.socialImage -}}
{{- with .Params.image }}{{ $socialImagePath = . }}{{ end -}}
{{- with .Params.socialImage }}{{ $socialImagePath = . }}{{ end -}}
{{- $socialImage := $socialImagePath | absURL -}}
{{- $socialImageAlt := .Params.socialImageAlt | default .Params.imageAlt | default site.Params.socialImageAlt -}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ site.Params.author }}">
<meta name="description" content="{{ $description | plainify }}">
<meta name="theme-color" content="#141817">
<title>{{ $title }}</title>
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="{{ "images/profile-mark.png" | relURL }}" type="image/png">
<link rel="apple-touch-icon" href="{{ "images/profile-mark.png" | relURL }}">
{{ with .OutputFormats.Get "rss" }}<link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ .RelPermalink }}">{{ end }}
{{ with .OutputFormats.Get "markdown" }}<link rel="alternate" type="text/markdown" title="Markdown source" href="{{ .RelPermalink }}">{{ end }}
{{ if .IsHome }}<link rel="alternate" type="text/plain" title="llms.txt" href="{{ "llms.txt" | relURL }}">
<link rel="alternate" type="application/json" title="Site index" href="{{ "index.json" | relURL }}">{{ end }}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description | plainify }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:image" content="{{ $socialImage }}">
<meta property="og:image:secure_url" content="{{ $socialImage }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="{{ $socialImageAlt }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description | plainify }}">
<meta name="twitter:image" content="{{ $socialImage }}">
<meta name="twitter:image:alt" content="{{ $socialImageAlt }}">
{{ if or .IsHome (eq .Section "about") }}
<script type="application/ld+json">
{{- (dict
  "@context" "https://schema.org"
  "@type" "Person"
  "name" site.Params.author
  "url" site.Home.Permalink
  "jobTitle" "Senior Solutions Architect"
  "description" site.Params.description
  "image" $profileImage
  "sameAs" (slice site.Params.githubURL site.Params.linkedinURL)
) | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{ end }}
{{ if and .IsPage (eq .Section "writing") }}
<script type="application/ld+json">
{{- (dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" .Title
  "description" $description
  "datePublished" (.Date.Format "2006-01-02")
  "url" .Permalink
  "author" (dict "@type" "Person" "name" site.Params.author "url" site.Home.Permalink)
) | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{ end }}
{{ if and .IsPage (eq .Section "projects") }}
{{- $softwareSource := dict
  "@context" "https://schema.org"
  "@type" "SoftwareSourceCode"
  "name" .Title
  "description" $description
  "url" .Permalink
  "author" (dict "@type" "Person" "name" site.Params.author "url" site.Home.Permalink)
-}}
{{- with .Params.repoURL }}{{ $softwareSource = merge $softwareSource (dict "codeRepository" .) }}{{ end }}
<script type="application/ld+json">
{{- $softwareSource | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{ end }}
{{ with resources.Get "css/main.css" }}
  {{ $style := . | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}
